@media (min-width: 768px) {
    .contenedor-blog {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    
    }
}

.contenido-blog {
    padding: 2rem;
}
.entrada {
    border-bottom: 2px solid #e1e1e1;
    margin-bottom: 2rem;
    padding: 4rem;
}
.entrada h2 {
    text-align: center;
}
@media (max-width: 768px) {
    .entrada h2 {
        text-align: left;
    }
}

.entrada:last-of-type {
    border: none;
}
@media (min-width:768px) {
    .entrada-meta {
        display: flex;
        justify-content: space-between;
    }

}

.entrada-meta p {
    font-weight: 700;

}
.entrada-meta span {
    color: #037bc0;
    
}
.contenido-entrada-blog {
    width: 60rem;
    margin: 0 auto;
}